body {
    margin: 5% auto 0px;
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    color: #444444;
    background-color: #FFFFFF;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #888888;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.github-org {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.8em 0;
}

.logo-container {
    text-align: right;
    margin-right: 3em;
}

.logo {
    width: 96px;
    height: 96px;
    display: inline-block;
    background-size: cover;
}

.osd-title h1 {
    font-size: 2.8em;
    margin-top: 0;
    margin-bottom: 0;
}

.osd-tagline p {
    font-size: 1.3em;
    margin-bottom: 2em;
}

.news {
    margin-left: 0.5em;
    display: block;
}